<h1>Vehicle</h1>
<mat-tab-group  *ngIf="vehicle">
    <mat-tab label="Basic information">
        <!-- Vehicle tab -->
        <br />
        <h2>Basics</h2>
        <ul>
            <li>Make: {{ vehicle.make.name }}</li>
            <li>Model: {{ vehicle.model.name }}</li>
            <li>Registered: {{ vehicle.isRegistered ? 'Yes' : 'No' }}
        </ul>
        <h2>Features</h2>
        <ul>
            <li *ngFor="let f of vehicle.features">{{ f.name }}</li>
        </ul>
        <h2>Contact</h2>
        <ul>
            <li>Contact Name: {{ vehicle.contact.name }}</li>
            <li>Contact Phone: {{ vehicle.contact.phone }}</li>
            <li>Contact Email: {{ vehicle.contact.email }}</li>
        </ul>
        <br />
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="btn btn-primary" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button class="btn btn-danger" (click)="delete()">Delete</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <button class="btn btn-light" [routerLink]="['/vehicles']">View All Vehicles</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Photos">
        <!-- Photos tab -->
        <h2>Photos</h2>
    </mat-tab>
</mat-tab-group>
