<h1>Vehicle</h1>
<mat-tab-group *ngIf="vehicle">
    <mat-tab label="Basic information">
        <!-- Vehicle tab -->
        <br />
        <h2>Basics</h2>
        <ul>
            <li>Make: {{ vehicle.make.name }}</li>
            <li>Model: {{ vehicle.model.name }}</li>
            <li>Registered: {{ vehicle.isRegistered ? 'Yes' : 'No' }}
        </ul>
        <h2>Features</h2>
        <ul>
            <li *ngFor="let f of vehicle.features">{{ f.name }}</li>
        </ul>
        <h2>Contact</h2>
        <ul>
            <li>Contact Name: {{ vehicle.contact.name }}</li>
            <li>Contact Phone: {{ vehicle.contact.phone }}</li>
            <li>Contact Email: {{ vehicle.contact.email }}</li>
        </ul>
        <br />
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div *ngIf="auth.loggedIn" class="btn-group mr-2" role="group" aria-label="First group">
                <button class="btn btn-warning" [routerLink]="['/vehicles/edit/', vehicle.id]">Edit</button>
            </div>
            <div *ngIf="auth.loggedIn" class="btn-group mr-2" role="group" aria-label="Second group">
                <button class="btn btn-danger" (click)="delete()">Delete</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <button class="btn btn-secondary" [routerLink]="['/vehicles']">View All Vehicles</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Photos">
        <!-- Photos tab -->
        <h2>Photos</h2>
        <input *ngIf="auth.loggedIn" type="file" (change)="uploadPhoto()" #fileInput>
        <div class="progress" *ngIf="progress && progress.percentage < 100">
            <div class="progress-bar" [style.width]="progress.percentage + '%'">
                <span class="sr-only">{{ progress.percentage }}% Complete</span>
            </div>
        </div>
        <img *ngFor="let photo of photos" src="/uploads/{{ photo.fileName }}" class="img-thumbnail">
    </mat-tab>
</mat-tab-group>
