<h1>New vehicle</h1>
<!-- <p>{{ vehicle | json }}</p> -->
<form #f="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="make">Make</label>
        <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId"
            required #make="ngModel">
            <option value=""></option>
            <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="make.touched && !make.valid">
            Please specify the make.
        </div>
    </div>
    
    <div class="form-group">
        <label for="model">Model</label>
        <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
            <option value=""></option>
            <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
            Please specify the model.
        </div>
    </div>

    <p>Is this vehicle registered?</p>
    <div class="form-check form-check-inline">
        <label for="registered" class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="vehicle.isRegistered" name="isRegistered"
                id="registered" [value]="true">Yes
        </label>
        <label style="margin-left: 10px;" for="notRegistered" class="form-check-label">
            <input class="form-check-input" type="radio" [(ngModel)]="vehicle.isRegistered" name="isRegistered"
                id="notRegistered" [value]="false">No
        </label>
    </div>

    <h2>Features</h2>
    <div *ngFor="let f of features" class="checkbox">
        <label for="feature{{ f.id }}">
            <input type="checkbox" id="feature{{ f.id }}" [checked]="vehicle.features.includes(f.id)"
                (change)="onFeatureToggle(f.id, $event)">{{ f.name }}</label>
    </div>

    <h2>Contact</h2>
    <div class="form-group">
        <label for="contactName">Name</label>
        <input id="contactName" [(ngModel)]="vehicle.contact.name" name="contactName" type="text" class="form-control"
            required #contactName="ngModel">
    </div>
    <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input id="contactPhone" [(ngModel)]="vehicle.contact.phone" name="contactPhone" type="text"
            class="form-control" required #contactPhone="ngModel">
    </div>
    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input id="contactEmail" [(ngModel)]="vehicle.contact.email" name="contactEmail" type="text"
            class="form-control email">
    </div>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-primary">Save</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
        </div>
    </div>
</form>
